$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.panel-custom-heading {
  background-color: rgba(241,15,20,0.5);
}

.jumbotron {
  background-image: asset-url('street_cover.jpeg');  
  background-size: cover;
  height: 650px;
}

.jumbotron h1 {
  color: #076F6F;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -2px;
  font-weight: bold;
}

body {
 background: #abbaab; /* fallback for old browsers */
 background: -webkit-linear-gradient(to left, #abbaab , #ffffff); /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to left, #abbaab , #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}

.para {
  margin-top: 10px;
  color: #FFC60A;
}

#left-well{
  background: rgba(174,188,174,0.7);
  border-radius: 50%;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
 border-top: 1px solid #eaeaea;
 padding-top: 15px;
 padding-bottom: 15px;
}

.footer {
  // margin-top: 20px;
  // padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.footer a:hover {
  color: #222;
}

.footer small {
  float: left;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer ul li {
  float: left;
  margin-left: 15px;
}