<div class="container footer">
  <footer class="footer">
    <small>
      copyright &copy; <a href="#">by Rhonda Tinkham</a> 
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </nav>
  </footer>
</div>